.sidebar {
    height: 100%;
    float: left;
    width: 100px;
    left: 5px;
    padding-top: 16px;
}
a{
    text-decoration: none;
}
.sidebar a {
    padding: 50px 50px;
    color: #818181;
    display: block;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

#memory{
    background: url("https://image.flaticon.com/icons/svg/898/898756.svg");
}

#chat{
    background: url("https://image.flaticon.com/icons/svg/1077/1077909.svg");
    margin-top: 30px;

}

#sokoban{
    background: url("https://image.flaticon.com/icons/svg/262/262545.svg");
    margin-top: 30px;
}

#memoryContainer{

}

.memory img {
    width: 60px;
}

.memory .removed{
    visibility: hidden;
}


.window{
    border: 5px solid darkslategray;
    border-radius: 5px;
    height: 300px;
    width: 255px;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

.navWindow{
    width: 249px;
    height: 38px;
    border: 3px solid #8AB8A4;
    background-color: aliceblue;
}

.navWindow > button{
    float: right;
    width: 55px;
    height: 37px;
    background-color: yellow;
}