.sidebar {
    height: 100%;
    float: left;
    width: 100px;
    left: 0px;
    padding-top: 16px;
    padding-left: 5px;
    padding-right: 10px;

    position: fixed;
    top: 0;
    background-color: #73ac7859;}

a {
    text-decoration: none;
}

.sidebar a {
    padding: 50px 50px;
    color: #818181;
    display: block;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

#memory {
    background: url("https://image.flaticon.com/icons/svg/898/898756.svg");
}

#chat {
    background: url("https://image.flaticon.com/icons/svg/1077/1077909.svg");
    margin-top: 30px;

}

#sokoban {
    background: url("https://image.flaticon.com/icons/svg/262/262545.svg");
    margin-top: 30px;
}

#memoryContainer {

}

.memory img {
    width: 60px;
}

.memory .removed {
    visibility: hidden;
}


.window {
    border: 5px solid darkslategray;
    border-radius: 5px;
    height: 300px;
    width: 255px;
    margin-left: 150px;
    margin-top: 40px;
    position: fixed;
}

.chat {
    height: 255px;
    width: 255px;
    margin-top: 0px;
    background-color: #E8728E;
    color: white;
    position: absolute;
}

.showMessages {
    height: 199px
}

.text {
    bottom: -4px;
    position: absolute;
    float: left;
    width: 255px;
}

textarea {
    width: 249px;
    height: 50px;
}

.navWindow {
    width: 249px;
    height: 38px;
    border: 3px solid #8AB8A4;
    background-color: aliceblue;
}

.navWindow > button {
    float: right;
    width: 55px;
    height: 37px;
    background-color: yellow;
}